<div class="flex max-sm:flex-col max-sm:justify-center max-sm:items-center justify-evenly items-center bg-slate-900 text-slate-100 ">

  <div class="pt-5 pb-5">
    <ol>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>TickTok</li>
      <li>YouTube</li>
    </ol>
  </div>

  <div class="pt-5 pb-5">
    <ol>
      <li><a routerLink="/admin">Aleksandar Asanovski</a></li>
      <li>Univerzitet Crne Gore</li>
      <li>Prirodno Matematicki Fakultet</li>
    </ol>
  </div>

  <div class="pt-5 pb-5">
    <ol>
      <li>MongoDB</li>
      <li>Express</li>
      <li>Angular</li>
      <li>Node js</li>
    </ol>
  </div>

</div>
