<div class="flex justify-evenly items-center bg-slate-900 text-slate-100 pt-5 pb-5">

  <div>
    <ol>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>TickTok</li>
      <li>YouTube</li>
    </ol>
  </div>

  <div>
    <ol>
      <li>Aleksandar Asanovski</li>
      <li>Univerzitet Crne Gore</li>
      <li>Prirodno Matematicki Fakultet</li>
    </ol>
  </div>

  <div>
    <ol>
      <li>MongoDB</li>
      <li>Express</li>
      <li>Angular</li>
      <li>Node js</li>
    </ol>
  </div>

</div>
