<div class="flex flex-col border-2 rounded-md border-slate-900 shadow-2xl">

  <div class="rounded-t-md text-2xl pl-3 bg-slate-900 pt-2 pb-2">
    {{data.description}}
  </div>
  <div class="flex justify-center items-center bg-slate-700">
   <div>Type: {{data.type}}</div>
  </div>

  <div class="flex justify-evenly items-center rounded-b-md pt-6 pb-6 bg-slate-700">
    <div>{{data.displaySymbol}}</div>
    <div>
      <button [routerLink]="['/car', JSON.stringify(data)]" class="bg-slate-600 pl-8 pr-8 pt-1 pb-1 rounded">More Info</button>
    </div>
  </div>
</div>
